*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, .fakebody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;

} 
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    display:block; 
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #222;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5 all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin:0;

}
card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}