{
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #050801;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;

}
a:hover{
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
}
a span{
    position: absolute;
    display: block;

}

a span:nth-child(2){
    top: -100%;
    right: ;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#ffffff);
    animation:animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        left: -100%;
    }

}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#ffffff);
    animation:animate1 1s linear infinite;
}
@keyframes animate1{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: -100%;
    }

}
